<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
</script>
</head>
<body>
<h1>Apache was started on {{inventory_hostname}} via Ansible</h1><br>
<h2>Brought to you by {{username}}</h2>
</body>
</html>
